<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="{{ interval }}">
        <title>{{ title }}</title>
    </head>
    <body>

            <h1>
                "Payment transaction in progress"
            </h1>
            <p>
                This can take up to 30 minutes and the page will automatically refresh multiple times
                 <b>"Do not close or manually refresh this page</b>
            </p>
        </div>
    </body>
</html>
