<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>success order {{order_id}}</title>
    </head>
    <body>
            <p1>
                Checkout completed successfully with saleor order number {{order_number}}
            </p1>
            <h1>
                <a href="http://saleor-storefront.local.overhang.io:18020/checkout?order={{order_id}}">
                {{order_number}}
                </a>
            </h1>
        </div>
    </body>
</html>
